<script lang="ts" setup>
const { page } = useContent();
</script>

<template lang="pug">
nuxt-layout(:title='page.title')
  ContentDoc.flex.flex-col.gap-2.md_gap-4.lg_gap-8.leading-loose
</template>

<style>
.MathJax svg {
  display: inline !important;
}
</style>
