<script lang="ts" setup>
const flakeSize = 3;
</script>

<template lang="pug">
div#bg
div.snowflakes
  svg.snowflake(v-for="i of 10",:key="`snowflake-${i}`",:height="flakeSize*2",:width="flakeSize*2")
    circle(:cx="flakeSize",:cy="flakeSize",:r="flakeSize")
</template>

<style scoped lang="scss">
#bg {
  z-index: -999;
  position: fixed;
  background-color: none !important;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url("/bg.png") !important;
  opacity: 0.2;
  background-position: bottom center !important;
  background-repeat: repeat-x !important;
  background-size: 40% !important;
}

svg.snowflake circle {
  fill: #fff5;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}
.snowflake {
  position: fixed;
  top: -10%;
  z-index: -9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 30s, 9s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 30s, 9s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}

$count: 10;

@for $i from 1 through $count {
  $fall-delay: random($count * 5000) + ms;
  $shake-delay: random($count * 200) + ms;
  .snowflake:nth-of-type(#{$i}) {
    left: percentage(calc($i / $count));
    animation-delay: $fall-delay, $shake-delay;
    -webkit-animation-delay: $fall-delay, $shake-delay;
  }
}
</style>
