<script lang="ts" setup>
defineProps({
  title: String,
  image: String,
  desc: String,
  link: String,
});
</script>

<template lang="pug">
nuxt-link(:to="link").card
  card-title(v-if="title")
    | {{ title }}
  card-image(v-if="image")
    img(:src="image")
  card-content
    slot/
</template>

<style scoped>
.card {
  @apply backdrop-blur-sm;
  @apply border-primary-800;
  @apply ring-2;
  @apply ring-primary-800;
  @apply rounded-md;
  @apply box-border;
  display: flex;
  flex-direction: column;
  padding: var(--space-size-half);
  gap: var(--space-size-half);
}
card-title {
  font-weight: bold;
}
card-content {
  @apply text-gray-300;
  @apply line-clamp-2;
}

a.card {
  &:visited {
    @apply border-primary-800;
  }

  &:hover {
    @apply ring-primary-300;
  }
}
</style>
