@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  a {
    color: inherit;
  }
}

@layer base {
  :root {
    @apply text-gray-300;
    --space-size: 3em;
    --space-size-half: calc(var(--space-size) / 2);
  }

  body {
    background: fixed linear-gradient(0deg, #001, #223) !important;
    height: 100%;
  }

  #app {
  }

  .brand {
    @apply font-title;
    @apply font-bold;

    .monadam {
      @apply text-primary-400;
    }

    .dev {
      @apply text-gray-500;
    }
  }

  h1 {
    @apply text-4xl;
    @apply font-title;
    @apply font-bold;
  }
  h2 {
    @apply text-3xl;
    @apply font-bold;
  }
  h1 {
    @apply text-4xl;
    @apply font-bold;
  }
  h1 {
    @apply text-4xl;
    @apply font-bold;
  }

  a {
    @apply text-primary-500;

    &:visited {
      @apply text-primary-500;
    }

    &:hover {
      @apply text-primary-200;
    }
  }
}
