<script setup>
const { title } = useAttrs();
useHead({
  title: `${title} │ monadam.dev`,
});
</script>

<template lang="pug">
background
div.flex.flex-col.gap-4.p-4.md_gap-8.md_p-8

  header.flex
    nuxt-link.brand.-rotate-1.tracking-widest(to="/")
      span.monadam.text-lg monadam
      span.dev.text-xs .dev

  main.text-xl.leading-loose
    slot

footer.w-full.text-white.text-center.p-2
  nuxt-link.brand.tracking-widest(to="/")
    span.monadam.text-lg monadam
    span.dev.text-xs .dev
</template>
