<script setup lang="ts">
useHead({
  title: "monadam.dev: Adam Neeley",
});
definePageMeta({ layout: false });
const posts = await queryContent("post").where({ _draft: false }).find();

interface Card {
  title: string;
  link: string;
  desc: string;
}
const projects: Card[] = [
  {
    title: "i ching",
    link: "https://i-ching.monadam.dev/",
    desc: "web app for the mystical chinese book of changes.",
  },
  {
    title: "octogod",
    link: "https://octogod.monadam.dev/",
    desc: "web app for esoteric knowledge",
  },
];
const codes: Card[] = [
  {
    title: "dotfiles",
    link: "https://gitlab.com/monadam/dotfiles/",
    desc: "my NixOS config and dotfiles.",
  },
  {
    title: "website",
    link: "https://gitlab.com/monadam/website/",
    desc: "source code for this site",
  },
];
let showMore = ref(false);
</script>

<template lang="pug">
background/

header.tracking-widest.leading-loose.flex.flex-col.items-center.justify-between.self-center.p-8
  div.flex.items-end
    div.-rotate-2.text-4xl.text-primary-400.font-bold.font-title.tracking-widest monadam
    div.pb-2.text-xs.text-gray-500 .dev
  div.text-sm.text-gray-300.text-right
    | design
    span.text-gray-500.px-1 &
    | development

div.grid.md_grid-cols-2.lg_grid-cols-3.p-8.box-border

  section
    section-title projects
    card(v-for="(project, i) in projects", :link="project.link" :key="`project-${i}`", :title="project.title")
      | {{project.desc}}

  section
    section-title posts
    card(v-for="(post, i) in posts", :link="post._path" :key="`post-${i}`", :title="post.title")
      div {{post.description}}

  section
    section-title code
    card(v-for="(code, i) in codes", :to="code.link" :key="`code-${i}`", :title="code.title")
      | {{code.desc}}

</template>

<style lang="scss">
section {
  display: flex;
  flex-direction: column;
  gap: var(--space-size-half);
}

section.clouds {
  display: flex;
  flex-direction: row;
  gap: 0;
  margin: 0px -1rem;

  @apply text-base;
  .cloud-1,
  .cloud-2,
  .cloud-3 {
    padding: 1rem;
    box-sizing: border;
    @apply text-gray-300;
    @apply backdrop-blur-sm;
    background-color: #fff1;
    border-radius: 3em;
    align-self: start;
  }
  .cloud-1 {
    @apply font-title;
    @apply text-xl;
    @apply tracking-widest;
    align-self: start;
    z-index: 30;
    margin-right: -2rem;
  }
  .cloud-2 {
    @apply text-lg;
    @apply leading-loose;
    align-self: center;
    flex: 1;
    z-index: 20;
    padding: 1rem 2rem;
    margin: 2rem 0 1rem 0;
  }
  .cloud-3 {
    @apply text-sm;
    align-self: end;
    z-index: 30;
    padding: 0.5rem 1rem;
    margin-left: -2rem;
  }

  a.cloud-3 {
    @apply text-primary-500;
    @apply ring-primary-600;
    font-weight: bold;
    &:hover {
      @apply text-primary-400;
      @apply ring-primary-500;
      opacity: 1;
    }
  }
}
section-title {
  @apply font-title;
  @apply text-xl;
  @apply tracking-widest;
}

.grid {
  gap: var(--space-size);
  align-items: start;
}
</style>
