<script lang="ts" setup>
import { ref, reactive, onMounted, onUpdated, onBeforeUpdate } from "vue";
import { CanvasManager, fs } from "@/lib/plot";
import type { F, Point, Rect } from "@/lib/plot";

const data = reactive({
  x0: 0,
  x1: 1,
  x2: 2,
  f: fs[0],
  iterations: 3,
});

let panning = ref(false);

let selectedPoint = 0;

function divDiff(points: Point[]): number {
  const len = points.length;
  const first = points[0];
  if (len === 1) {
    return first.y;
  }
  const last = points[len - 1];
  return (
    (divDiff(points.slice(1)) - divDiff(points.slice(0, len - 1))) /
    (last.x - first.x)
  );
}

function iterateMuller(f: F, xs: number[]): Point[] {
  const points = xs.map(mkPt);
  for (let i = 2; i <= points.length + 1; i++) {
    const p0 = points[i - 2];
    const p1 = points[i - 1];
    const p2 = points[i];
    const w = divDiff([p1, p2]) + divDiff([p0, p2]) - divDiff([p0, p1]);
    const w2 = Math.pow(w, 2);
    const x3a =
      p2.x -
      (2 * p2.y) / (w + Math.sqrt(w2 - 4 * p2.y) * divDiff([p0, p1, p2]));
    const x3b =
      p2.x -
      (2 * p2.y) / (w - Math.sqrt(w2 - 4 * p2.y) * divDiff([p0, p1, p2]));
    const x3 = Math.abs(x3a - p2.x) < Math.abs(x3b - p2.x) ? x3a : x3a;
    console.log(x3);
    points.push(mkPt(x3));
  }
  return points;
}

function f(x: number) {
  return data.f(x);
}

let canvas: CanvasManager;

function mkPt(x: number): Point {
  return {
    x,
    y: f(x),
  };
}

let pts = ref<Point[]>([]);

function update() {
  pts.value = iterateMuller(f, [data.x0, data.x1, data.x2]);
}
function render() {
  canvas.clear();
  canvas.drawAxes({});
  canvas.plotF(f);
  plotMuller(pts.value);
}

function plotMuller(points: Point[]) {
  for (let i = points.length - 1; i > 1; i--) {
    const color = i === 2 ? "yellow" : "#330";
    const radius = points.length - (i - 1); // - iteration;
    const p0 = points[i - 2];
    const p1 = points[i - 1];
    const p2 = points[i - 0];
    canvas.drawCircle(p0, { color: "white", radius, fill: true });
    canvas.drawCircle(p1, { color: "white", radius, fill: true });
    canvas.drawCircle(p2, { color: "white", radius, fill: true });
    if (i === 2) {
      if (selectedPoint === 0)
        canvas.drawCircle(p0, { fill: true, color, radius: 9 });
      else if (selectedPoint === 1)
        canvas.drawCircle(p1, { fill: true, color, radius: 9 });
      else if (selectedPoint === 2)
        canvas.drawCircle(p2, { fill: true, color, radius: 9 });
    } else {
      canvas.drawCircle({ x: p2.x, y: 0 }, canvas.options.root);
    }
  }
}

onMounted(() => {
  canvas = new CanvasManager(document.querySelector("#canvas-muller")!);
  update();
  render();
});

onUpdated(() => {
  render();
});
watch(data, update, { deep: true });
</script>

<template>
  <div class="grid grid-cols-4 gap-4">
    <div class="col-span-3">
      <canvas
        class="bg-black w-full aspect-video"
        id="canvas-muller"
        @mousedown="panning = true"
        @mousemove="panCanvas"
        @mouseup="panning = false"
        @mousewheel="zoom"
      ></canvas>
    </div>

    <div class="data flex flex-col justify-between p-1 gap-4 text-lg">
      <div>
        <div class="font-bold">input</div>
        <div>
          <label for="f">f</label>
          <select name="f" v-model="data.f">
            <option v-for="(f, i) in fs" :key="i" :value="f">
              {{ f }}
            </option>
          </select>
        </div>
        <div>
          <label for="iterations">{{ data.iterations }} iterations</label>
          <input
            type="range"
            v-model.number="data.iterations"
            :min="1"
            :max="5"
          />
        </div>

        <div>
          <label for="x0">x₀ = {{ data.x0 }}</label>
          <input
            type="range"
            v-model.number="data.x0"
            :step="0.01"
            :min="-5"
            :max="5"
          />
        </div>

        <div>
          <label for="x1">x₁ = {{ data.x1 }}</label>
          <input
            type="range"
            v-model.number="data.x1"
            :step="0.01"
            :min="-5"
            :max="5"
          />
        </div>

        <div>
          <label for="x2">x2 = {{ data.x2 }}</label>
          <input
            type="range"
            v-model.number="data.x2"
            :step="0.01"
            :min="-5"
            :max="5"
          />
        </div>
      </div>

      <div class="bg-gray-900">
        <div class="font-bold">output</div>
        <div class="w-full grid grid-cols-9 gap-1">
          <div class="font-bold col-span-1">n</div>
          <div class="font-bold col-span-4">x</div>
          <div class="font-bold col-span-4">y</div>
          <template v-for="(pt, i) in pts" :key="i">
            <div class="col-span-1 truncate">{{ i }}</div>
            <div class="col-span-4 truncate">{{ pt.x }}</div>
            <div class="col-span-4 truncate">{{ pt.y }}</div>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>
