<script lang="ts" setup>
import { ref, reactive, onMounted, onUpdated, onBeforeUpdate } from "vue";
import { CanvasManager, fs } from "../../lib/plot";
import type { F, Point, Rect } from "../../lib/plot";

let panning = ref(false);

const selectedPoint = ref(0);

const data = reactive({
  x0: 0,
  x1: 1,
  f: fs[selectedPoint.value],
  iterations: 3,
});

function iterateSecant(f: F, x0: number, x1: number): Point[] {
  const points = [mkPt(x0), mkPt(x1)];
  for (let i = 1; i <= data.iterations; i++) {
    const p0 = points[i - 1];
    const p1 = points[i];
    const p2: Point = mkPt(p1.x - (p1.y * (p1.x - p0.x)) / (p1.y - p0.y));
    points.push(p2);
  }
  return points;
}

function f(x: number) {
  return data.f(x);
}

let canvas: CanvasManager;

function mkPt(x: number): Point {
  return {
    x,
    y: f(x),
  };
}

let pts = ref<Point[]>([]);

function update() {
  pts.value = iterateSecant(f, data.x0, data.x1);
}
function render() {
  canvas.clear();
  canvas.drawAxes({});
  plotSecant(pts.value);
  canvas.plotF(f);
}

function plotSecant(points: Point[]) {
  for (let i = points.length - 1; i > 0; i--) {
    const color = i === 1 ? "yellow" : "#330";
    const p0 = points[i - 1];
    const p1 = points[i];
    const m = (p1.y - p0.y) / (p1.x - p0.x);
    const dx = 100;
    const dy = dx * m;
    const pL = { x: p0.x - dx, y: p0.y - dy };
    const pR = { x: p0.x + dx, y: p0.y + dy };
    canvas.drawLine({ from: pL, to: pR }, { color, size: 2 });
    canvas.drawLine(
      { from: { ...p0, y: 0 }, to: p0 },
      { size: 1, color: "green" },
    );
    canvas.drawLine(
      { from: { ...p1, y: 0 }, to: p1 },
      { size: 1, color: "green" },
    );
    if (i === 1) {
      canvas.drawCircle(p0, { color: "white", fill: true });
      canvas.drawCircle(p1, { color: "white", fill: true });
      if (selectedPoint.value === 0)
        canvas.drawCircle(p0, { color: "white", radius: 5, size: 1 });
      else canvas.drawCircle(p1, { color: "white", radius: 5, size: 1 });
    } else {
      canvas.drawCircle({ x: p1.x, y: 0 }, canvas.options.root);
    }
  }
}

onMounted(() => {
  canvas = new CanvasManager(document.querySelector("#canvas-secant")!);
  update();
  render();
});

onUpdated(() => {
  render();
});
watch(data, update, { deep: true });
</script>

<template>
  <div class="grid sm_grid-cols-1 lg_grid-cols-4 gap-4">
    <div class="sm_col-span-1 lg_col-span-3">
      <canvas class="bg-black w-full aspect-video" id="canvas-secant"></canvas>
    </div>

    <div class="data flex flex-col justify-between p-1 gap-4 text-lg">
      <div>
        <div class="font-bold">input</div>
        <div>
          <label for="f">f</label>
          <select name="f" v-model="data.f">
            <option v-for="(f, i) in fs" :key="i" :value="f">
              {{ f }}
            </option>
          </select>
        </div>
        <div>
          <label for="iterations">{{ data.iterations }} iterations</label>
          <input
            type="range"
            v-model.number="data.iterations"
            :min="1"
            :max="5"
          />
        </div>

        <div>
          <label for="x0">x₀ = {{ data.x0 }}</label>
          <input
            type="range"
            v-model.number="data.x0"
            :step="0.01"
            :min="-5"
            :max="5"
          />
        </div>

        <div>
          <label for="x1">x₁ = {{ data.x1 }}</label>
          <input
            type="range"
            v-model.number="data.x1"
            :step="0.01"
            :min="-5"
            :max="5"
          />
        </div>
      </div>

      <div class="bg-gray-900">
        <div class="font-bold">output</div>
        <div class="w-full grid grid-cols-9 gap-1">
          <div class="font-bold col-span-1">n</div>
          <div class="font-bold col-span-4">x</div>
          <div class="font-bold col-span-4">y</div>
          <template v-for="(pt, i) in pts" :key="i">
            <div class="col-span-1 truncate">{{ i }}</div>
            <div class="col-span-4 truncate">{{ pt.x }}</div>
            <div class="col-span-4 truncate">{{ pt.y }}</div>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.data {
  input,
  select {
    width: 100%;
  }
  label {
    display: block;
  }
}
</style>
