<script lang="ts" setup>
const { page, toc } = useContent();
let items = [{ text: "text", href: "href", disabled: false }];
</script>

<template lang="pug">
NuxtLayout
  div.bg-white.content
    div {{ page.title }}
    div
      div {{ page.description }}
      ContentDoc
</template>

<style lang="sass" scoped>
li
  margin-left: 16px
.project-title
  font-size: 3rem !important
  line-height: 3rem !important
.content
  line-height: 200% !important
</style>
